.NumberContainer {
  display: grid;
  justify-items: center;
  gap: 0.3em;
}

.Number {
  background: hsla(210, 90%, 80%, 1);
  background: -webkit-linear-gradient(45deg,
      hsla(210, 90%, 80%, 1) 0%,
      rgb(109, 9, 241) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  user-select: none;
  font-size: clamp(1em, 1.4vw, 1.3em);
  font-weight: bolder;
  overflow: hidden;
}

.Text {
  color: var(--text-secondary);
  font-size: clamp(0.6em, 1vw, 0.8em);
  letter-spacing: 0.15rem;
  width: 15ch;
  text-align: center;
}

/* @keyframes fadeOne {
  from {
    opacity: 0;
    transform: translateY(15%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
} */