.NumberContainer {
    display: grid;
    justify-items: center;
    gap: 0.3em;
}

.Number {
    color: var(--header-color);
    font-size: clamp(1.3em, 1.8vw, 1.6em);
    font-weight: bolder;
}

.Text {
    color: var(--text-secondary);
    font-size: clamp(0.6em, 1vw, 0.8em);
    letter-spacing: .15rem;
    width: 15ch;
    text-align: center;
}