.ButtonContainer {
  display: flex;
  justify-content: flex-end;
}

.FollowTheCursor {
  position: absolute;
  width: 30px;
  height: 30px;
  backdrop-filter: invert(100%);
  border-radius: 50%;
  pointer-events: none;
  z-index: 5;
}

.Button {
  font-weight: 500;
  font-size: 16px;
  padding: 1em;
  border: 0;
  letter-spacing: 0.09em;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
  box-shadow: var(--box-shadow);
  transition: letter-spacing 0.3s ease-in-out;
  border-radius: 10px;
  color: white;
  background: linear-gradient(51deg, var(--cv-button));
  position: relative;
  overflow: hidden;
}
.Button a {
  color: white;
}

.Button:active {
  font-weight: bold;
}

.ButtonLabel {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 810px) {
  .ButtonContainer {
    display: grid;
    gap: 1em;
    justify-content: center;
  }

  .Download {
    margin-right: 0;
  }
}
