.ButtonContainer {
  display: flex;
  justify-content: flex-end;
}

.FollowTheCursor {
  position: absolute;
  width: 70px;
  height: 70px;
  backdrop-filter: hue-rotate(210deg) brightness(1.8) contrast(0.9);
  border-radius: 50%;
  pointer-events: none;
  z-index: 5;
  visibility: hidden;
}

.Button:hover .FollowTheCursor {
  visibility: visible;
}

.Button svg {
  color: white;
}

.Button {
  font-weight: 500;
  font-size: 16px;
  padding: 1em;
  border: 0;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
  box-shadow: 0px 20px 20px -17px
    color-mix(in srgb, var(--cv-button), transparent 50%);
  border-radius: 10px;
  color: white;
  background-color: var(--cv-button);
  position: relative;
  overflow: hidden;
  white-space: nowrap;
}
.Button a {
  color: white;
}

.Button:active {
  font-weight: bold;
}

.ButtonLabel {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 810px) {
  .ButtonContainer {
    display: grid;
    gap: 1em;
    justify-content: center;
  }

  .Download {
    margin-right: 0;
  }
}
