.ButtonContainer {
  display: flex;
  justify-content: flex-end;
}

.Button {
  font-family: var(--ff-primary);
  font-weight: 500;
  font-size: 0.5em;
  width: 18ch;
  padding: 1.2em 0;
  border: 0;
  letter-spacing: 0.09em;
  justify-content: center;
  opacity: 1;
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
  box-shadow: var(--box-shadow);
  transition: letter-spacing 0.3s ease-in-out;
  border-radius: 100px;
}

.Button:hover {
  letter-spacing: 0.13em;
  transition: letter-spacing 0.3s ease-in-out;
}

.Button:active {
  font-weight: bold;
}

.ButtonLabel {
  display: flex;
  align-items: center;
}

/* .Download {
  background-color: var(--button-color);
  border: 6px transparent solid;
  margin-right: 1.5em;
  animation: fadeButton 0.5s ease-in-out 3s forwards;
  -webkit-animation: fadeButton 0.5s ease-in-out 3s forwards;
  -moz-animation: fadeButton 0.5s ease-in-out 3s forwards;
  -o-animation: fadeButton 0.5s ease-in-out 3s forwards;
  position: relative;
}


.Download:hover {
  background-color: var(--progress-accent);
  border: 6px transparent solid;
  transition: all 0.2s ease;
} */

@keyframes fadeButton {
  100% {
    opacity: 1;
  }
}

.ShowDetails {
  color: white;
  background-color: var(--show-details-background-color);
  border-bottom: 6px var(--button-color) solid;
  animation: fadeButton 0.5s ease-in-out 3.5s forwards;
  -webkit-animation: fadeButton 0.5s ease-in-out 3.5s forwards;
  -moz-animation: fadeButton 0.5s ease-in-out 3.5s forwards;
  -o-animation: fadeButton 0.5s ease-in-out 3.5s forwards;
  position: relative;
}

.ShowDetails:after {
  content: "";
  margin: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scaleY(0);
  width: 100%;
  height: 100%;
  z-index: -1;
  transform-origin: bottom;
  transition: transform 0.3s ease-out;
}

.ShowDetails:hover {
  color: var(--show-details-color);
  background-color: var(--header-color);
  border-bottom: 6px var(--progress-accent) solid;
  transition: all 0.3s ease-out;
}

.ShowDetails:hover:after {
  transform: scaleY(1);
  transform-origin: top;
  transition: transform 0.2s ease-out;
}

@media screen and (max-device-width: 810px) {
  .ButtonContainer {
    display: grid;
    gap: 1em;
    justify-content: center;
  }

  .Download {
    margin-right: 0;
  }
}
