
.ButtonContainer {
    display: flex;
    justify-content: flex-end;
}

.Button {
    font-family: var(--ff-primary);
    font-weight: 500;
    font-size: 0.48em;
    padding: 0.9em;
    border: 0;
    letter-spacing: .09em;
    justify-content: center;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    display: flex;
    align-items: center;
    /* box-shadow: 0.3em 0.3em 1em var(--shadow-color);
    -webkit-box-shadow: 0.3em 0.3em 1em var(--shadow-color);
    -moz-box-shadow: 0.3em 0.3em 1em var(--shadow-color); */
}

.Button:hover {
    box-shadow: 0.1em 0.1em .2em var(--shadow-color);
    -webkit-box-shadow: 0.1em 0.1em 0.2em var(--shadow-color);
    -moz-box-shadow: 0.1em 0.1em 0.2em var(--shadow-color);
}

.ButtonLabel {
    display: flex;
    align-items: center;
}

.Download {
    background-color: var(--button-color);
    border: 6px var(--button-color) solid;
    animation: fadeButton 0.5s ease-in-out 3s forwards;
    -webkit-animation: fadeButton 0.5s ease-in-out 3s forwards;
    -moz-animation: fadeButton 0.5s ease-in-out 3s forwards;
    -o-animation: fadeButton 0.5s ease-in-out 3s forwards;
    margin-right: 1.5em;
}

@keyframes fadeButton {
    100% {
        opacity: 1;
    }
}

.Download:hover {
    background-color: var(--progress-accent);
    border: 6px var(--progress-accent) solid;
    transition: all 0.2s ease;
}

.ShowDetails {
    color: var(--text-color);
    background-color: var(--button-background-color);
    border-bottom: 6px var(--button-color) solid;
    width: 18ch; 
    animation: fadeButton 0.5s ease-in-out 3.5s forwards;
    -webkit-animation: fadeButton 0.5s ease-in-out 3.5s forwards;
    -moz-animation: fadeButton 0.5s ease-in-out 3.5s forwards;
    -o-animation: fadeButton 0.5s ease-in-out 3.5s forwards;
    position: relative;
}

 .ShowDetails:after {
    content: "";
    margin: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleY(0);
    background-color: rgb(128,124,191);
    width: 100%;
    height: 100%;    
    z-index: -1;
    transform-origin: bottom;
    transition: transform 0.3s ease-out; 
} 

.ShowDetails:hover {
    color: var(--background-color);
    background-color: rgb(128,124,191);
    border-bottom: 6px var(--progress-accent) solid;
    transition: all 0.3s ease-out;
}

.ShowDetails:hover:after {
    transform: scaleY(1);
    transform-origin: top;
    transition: transform 0.2s ease-out; 
}

@media screen and (max-device-width: 810px) {
    .ButtonContainer {
        display: grid;
        gap: 1em;
        justify-content: center;
    }

    .Download {
        margin-right: 0;
    }
}
