.Description {
    padding: 0 max(2.5rem, 15%);
    font-size: 0.6em;
    margin-top: 1.5em;
    opacity: 0;
    line-height: 0.9;
    animation: fadeDescription 0.6s ease-in-out forwards;
}

@keyframes fadeDescription {
    100% {
        opacity: 1;
        line-height: 1.8;
        transform: translateY(15%);
    }
}

.Hidden {
    opacity: 1;
    line-height: 1.8;        
    transform: translateY(15%);
    animation: hideDescription .3s ease-in-out forwards;
}

@keyframes hideDescription {
    100% {
        opacity: 0;
        height: 0;
        margin: 0;    
        padding: 0;
    }
}

.Underline {
    text-decoration: var(--header-color) underline 4px;
}

.Interchangeble {
    position: relative;
}
