.Description {
    padding: 0 clamp(0.2em, 15%, 5rem);
    font-size: 0.6em;
    margin-top: 1.5em;
    opacity: 0;
    filter: blur(12px);
    line-height: 0.9;
    animation: fadeDescription 1s ease-in-out 1s forwards;
}

@keyframes fadeDescription {
    100% {
        opacity: 1;
        filter: blur(0);
        line-height: 1.8;
        transform: translateY(15%);
    }
}

@media screen and (max-width: 420px) {
    .Description {
        padding: 0.8em;
    }
}

.Hidden {
    opacity: 1;
    line-height: 1.8;        
    transform: translateY(15%);
    animation: hideDescription .3s ease-in-out forwards;
}

@keyframes hideDescription {
    100% {
        opacity: 0;
        height: 0;
        margin: 0;    
        padding: 0;
        filter: blur(12px);
    }
}

.Underline {
    text-decoration: var(--header-color) underline 2px;
}

.Interchangeble {
    position: relative;
}

.Arrow {
    transform: translate(0);
    transition: transform 0.2s ease-in-out;
}

.Arrow:hover {
    transform: translate(5px);
    transition: transform 0.3s ease-in-out;
}

.HashLink {
    letter-spacing: 0.09rem;
    transition: letter-spacing 0.3s ease-in-out;
}

.HashLink:hover {
    letter-spacing: 0.13rem;
    transition: letter-spacing 0.3s ease-in-out;
}