.Bug {
  position: absolute;
  max-width: 200px;
  max-height: 140px;
  object-fit: contain;
  z-index: 5;
  cursor: url("/img/cursor-bug-net.webp") 2 2, pointer;
  animation: bugMovement var(--duration) ease-in-out infinite;
  /* animation-duration: attr(data-duration); */
}

@keyframes bugMovement {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(0, 20px) rotate(5deg);
  }
  50% {
    transform: translate(0, 40px) rotate(15deg);
  }
  75% {
    transform: translate(0, 20px) rotate(5deg);
  }
  100% {
    transform: translate(0px, 0) rotate(0deg);
  }
}
.ReleaseButton {
  background-color: var(--header-color);
  color: var(--background-color);
  font-size: 16px;
  padding: 1em;
  border-radius: 10px;
  margin: 0 auto;
  box-shadow: var(--box-shadow);
  font-weight: 500;
}

.ReleaseButton:disabled {
  filter: grayscale(0.6);
  cursor: initial;
}

.BattleContainer {
  display: grid;
  gap: 1rem;
}

.BattleImgContainer {
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  box-shadow: var(--box-shadow);
  border-radius: 1em;
}
.BattleBackground {
  max-width: 100%;
  border-radius: 1em;
  anchor-name: --anchor-battle-img;
}

.TaliPortrait {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  transform: translate(-125%, -50%);
}

.BugPortrait {
  --bugWidth: 20%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(85%, -50%);
  width: var(--bugWidth);
}
.Tooltip {
  position: absolute;
  background-color: white;
  color: black;
  position-anchor: --anchor-battle-img;
  padding: 0.4em;
  opacity: 0;
  box-shadow: var(--box-shadow);
  transition: opacity 0.3s ease-in-out;
}

.TooltipTali {
  bottom: 85%;
  right: 40%;
  border-radius: 15px 15px 15px 5px;
}

.TooltipBug {
  bottom: 15%;
  right: 10%;
  border-radius: 5px 15px 15px 15px;
}

.Tooltip:has(+ img:hover) {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}
