.SectionBugHunt {
  width: 100vw;
}

.Bug {
  position: absolute;
  max-width: 200px;
  max-height: 140px;
  object-fit: contain;
  z-index: 5;
  cursor:
    url("/img/cursor-bug-net.webp") 2 2,
    url("/img/cursor-bug-net.png") 2 2,
    pointer;
  animation: bugMovement var(--duration) ease-in-out infinite;
}

.Confetti {
  filter: hue-rotate(var(--hueDegreeShift));
  pointer-events: none;
}
@keyframes bugMovement {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(0, 4vw) rotate(10deg);
  }
  50% {
    transform: translate(0, 8vw) rotate(20deg);
  }
  75% {
    transform: translate(0, 4vw) rotate(10deg);
  }
  100% {
    transform: translate(0px, 0) rotate(0deg);
  }
}
.ReleaseButton {
  background-color: var(--header-color);
  color: var(--background-color);
  font-size: 16px;
  padding: 1em;
  border-radius: 10px;
  margin: 0 auto;
  box-shadow: var(--box-shadow);
  font-weight: 500;
}

.ReleaseButton:disabled {
  filter: grayscale(0.6);
  cursor: initial;
}

.BattleContainer {
  display: grid;
  gap: 1rem;
}

.BattleImgContainer {
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  box-shadow: var(--box-shadow);
  border-radius: 1em;
}

.BattleBackground {
  max-width: 100%;
  border-radius: 1em;
  anchor-name: --anchor-battle-img;
}
@media screen and (max-width: 400px) {
  .BattleImgContainer {
    border-radius: 0;
  }
  .BattleBackground {
    border-radius: 0;
  }
}

.TaliPortrait {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  transform: translate(-125%, -50%);
}

.BugPortrait {
  --bugWidth: 20%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(85%, -50%);
  width: var(--bugWidth);
}
/*.Tooltip {
  position: absolute;
  background-color: white;
  color: black;
  position-anchor: --anchor-battle-img;
  padding: 0.4em;
  opacity: 0;
  box-shadow: var(--box-shadow);
  border: 3px solid black;
  transition: opacity 0.3s ease-in-out;
}*/

/*.TooltipTali {
  bottom: 85%;
  right: 40%;
  border-radius: 15px 15px 15px 5px;
} */

/* HTML: <div class="tooltip">This is the same as #8 but with another shape for the tail </div> */
/* HTML: <div class="tooltip">This is the same as #5 but with another shape for the tail </div> */
.Tooltip {
  position: absolute;
  background-color: white;
  color: black;
  position-anchor: --anchor-battle-img;
  opacity: 0;
  box-shadow: var(--box-shadow);
  transition: opacity 0.3s ease-in-out;
}
.TooltipTali {
  opacity: 0;
  bottom: 85%;
  right: 40%;
  padding: 0.5em 0.7em 0.9em 0.7em;

  clip-path: polygon(0 0, 100% 0, 100% 89%, 4% 89%, 0 100%, 0 73%);

  background: white; /* the main color */
}

.TooltipBug {
  bottom: 15%;
  right: 10%;
  padding: 0.9em 0.7em 0.6em 0.7em;

  clip-path: polygon(
    0 16%,
    30% 16%,
    36% 0,
    42% 16%,
    100% 16%,
    100% 100%,
    0 100%
  );
}

.Tooltip:has(+ img:hover) {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

@media screen and (max-width: 400px) {
  .Tooltip {
    opacity: 1;
    font-size: 12px;
  }
  .TooltipTali {
    right: 38%;
  }
}
