.Bug {
  position: absolute;
  width: 100px;
  z-index: 5;
}
.ReleaseButton {
  background-color: var(--header-color);
  color: var(--background-color);
  font-size: 18px;
  padding: 1em;
  border-radius: 10px;
  margin: 0 auto;
  box-shadow: var(--box-shadow);
  font-weight: 500;
}

.ReleaseButton:disabled {
  filter: grayscale(0.6);
  cursor: initial;
}

.BattleContainer {
  display: grid;
  gap: 1rem;
}


.BattleImgContainer {
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.BattleImgShadow {
  width: 100%;
  height: 100%;
  position: relative;
  box-shadow: var(--box-shadow);
}

.BattleBackground {
  max-width: 100%;
  border-radius: 1em;
}

.TaliPortrait {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    transform: translate(-125%, -50%);
} 

.BugPortrait {
  --bugWidth: 20%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(85%, -50%);
    width: var(--bugWidth);
}