.Name { 
    margin-right: 20px;
    margin-bottom: 5px;
    width: 120px;
    font-size: clamp(0.5em, 2vw, 0.7em);
}

.Bar {
    margin: 0;
    padding: 0;
    height: 0.7em;
    width: min(7em, 80vw);
    display: inline-block;
    position: relative;
    border-radius: 15px;
    background-color: var(--timeline-detail);
    box-shadow: var(--box-shadow);
}

.ProgressLevel {
    height: 100%;
    border-radius: 15px;    
    position: absolute;
    background: linear-gradient(41deg, var(--button-color) 0%,  var(--progress-accent) 50%); 
}
