.Numbers {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3.5em;
}

@media screen and (max-width: 810px) {
    .Numbers{
        justify-content: center;
        flex-direction: column;
        gap: 1em;
    }
}