
.ToggleThemeButton {
    display: flex;
    align-self: baseline;
}

.ToggleThemeButton:hover {
    animation: pulse 1s ease-in-out infinite; 
}

@keyframes pulse {
    100% {
        color: var(--text-color);
    }
    50% {
        color: var(--header-color);
    }
    0% {
        color: var(--text-color);
    }
}


@media screen and (max-width: 857px) {
    .ToggleThemeButton {
        align-self: center;
    }
    .ToggleThemeButton button {
        margin: 0 auto;
    }
}
