.ProgressContainer {
  color: var(--text-color);
}

.CloseButton {
  align-self: flex-end;
  aspect-ratio: 1;
  color: var(--text-color);
  font-size: 28px;
}

.Plate {
  background-color: var(--plate-color);
  display: flex;
  flex-direction: column;
  width: min(90vw, 21em);
  border-radius: 10px;
  padding: 0.25rem 0.25rem 1.25rem 1.25rem;
  color: var(--text-color);
  box-shadow: var(--box-shadow);
  text-align: left;
  font-size: 18px;
}

.PlateHeader {
  font-size: 22px;
}

@media screen and (max-width: 400px) {
  .PlateHeader {
    font-size: 16px;
  }
  .List {
    font-size: 14px;
  }
  .ProgressContainer {
    position: absolute;
    top: 0.7em;
    left: 1.1em;
    z-index: 2;
    width: fit-content;
  }
}

.PlateHeader {
  width: fit-content;
  transform: translate(0, -1.1em);
}

.List {
  display: grid;
  gap: 0.5rem;
  max-width: 90%;
}

.Li {
  display: flex;
  gap: 0.3em;
}
