.Unit {
    display: flex;
    line-height: 1.5;
    font-size: 18px;
    font-size: clamp(0.7em, 1.2vw, 0.5em); 
    transition: font-size .2s ease-in-out;
}


.Years {    
    color: var(--text-secondary);
    font-size: 0.8em;
    margin-top: 4px;
    margin-bottom: 2em;
} 

.Name {
    font-size: 20px;
    font-size: clamp(0.9em, 1.4vw, 0.7em); 
    transition: font-size .2s ease-in-out;
}

.isMirrored { 
    display: flex;
    flex-direction: row-reverse;
    max-width: 25ch;
    text-align: right;
} 

.isMirroredText {
    margin-right: 14px;
}

.TimePoint {
    width: 0.8em;
    height: 0.8em;
    border-radius: 50%;
    background-color: var(--text-color);
    margin-right: 14px;
    position: relative;
    z-index: 100;
    transform: translate(0, .5ch);
}

.TimeLine {
    width: 2px;
    height: 100%;
    background-color: var(--timeline-detail);
    z-index: -100;
    transform: translate(0.32em, 0);
}
