.Contact {
  display: flex;
  align-items: center;
  margin-right: 0;
}

a {
  pointer-events: all;
}

.TextContainer {
  margin-left: 12px;
  display: grid;
  gap: 0.17em;
}

.TextPrimary {
  font-size: clamp(0.6em, 1.4vw, 0.85em);
  font-weight: 600;
  position: relative;
}
.TextPrimary::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.15em;
  width: 100%;
  height: 4px;
  background: linear-gradient(
    51deg,
    var(--header-color) 0%,
    var(--midtone) 43%,
    var(--light-accent) 100%
  );
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease-in-out;
}

.Contact:hover .TextPrimary:after {
  transform-origin: left;
  transform: scaleX(1);
  transition: transform 0.3s ease-in-out;
}

.TextSecondary {
  color: var(--text-secondary);
  font-size: clamp(0.5em, 1.2vw, 0.75em);
}
