.Cloud {
  position: absolute;
  pointer-events: none;
  z-index: 0;
}
.Cloud1 {
  top: -2.4%;
  right: 77%;
  scale: -1 1;
}

.Cloud2 {
  top: 25%;
  left: 69%;
  scale: 0.8;
}

.Cloud3 {
  top: 52.4%;
  right: 64%;
  scale: -1 1;
}
