.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .Container {
    padding: 1.1em 5%;
  }
}

.Cloud1 {
  position: absolute;
  top: -5.4%;
  right: 69%;
  scale: -0.65 0.65;
  opacity: 0.6;
  transform: rotate(8deg);
  pointer-events: none;
}

.Cloud2 {
  position: absolute;
  top: 14%;
  left: 68%;
  scale: 0.7;
  transform: rotate(7deg);
  opacity: 0.6;
  z-index: 0;
  pointer-events: none;
}
