.Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: auto;
}

@media screen and (max-width: 800px) {
    .Container {
        padding: 1.1em 5%; 
    }
}