.Container {
    /* padding: 1.1em 5%;  */
    width: clamp(300px, 90%, 45.5rem);
    margin-inline: auto;
    border-radius: 0.5em;
    border: 4px var(--border-color) solid;
}

@media screen and (max-width: 800px) {
    .Container {
        padding: 1.1em 5%; 
    }
}