.GameContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  height: 280px;
}

.Dice {
  width: 100px;
  position: relative;
  /* anchor-name: --anchor-dice; */
}

.Result {
  position: absolute;
  background: -webkit-linear-gradient(
    45deg,
    hsla(210, 90%, 80%, 1) 0%,
    var(--header-color) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* position-anchor: --anchor-dice;
  position-area: center center; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: bold;
}

.DiceContainer {
  position: relative;
  margin-top: 1rem;
}

 .Fact {
   align-self: flex-end;
}

.TryAgain {
    font-size: inherit;
}