.Modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  width: fit-content;
  height: fit-content;
  z-index: 10;
}

.Backdrop {
  position: absolute;
  min-height: 100vh;
  min-width: 100vw;
  background-color: red;
}
