.Photo {
    border-radius: 50%;
    box-shadow: var(--box-shadow);
    border: 4px white solid;
    animation: fadePhoto 1.5s ease-in-out forwards;
    -webkit-animation: fadePhoto 1.5s ease-in-out forwards;
    -moz-animation: fadePhoto 1.5s ease-in-out forwards;
    -o-animation: fadePhoto 1.5s ease-in-out forwards;
}

@keyframes fadePhoto {
    from {
        opacity: 0;
        transform: translateY(-5%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 480px) {
    .Photo {
        margin-top: .9em;
    }
}


@media screen and (max-device-width: 857px) {
    .Photo {
        margin-bottom: 2em;
    }
}