.About {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}
@media screen and (max-width: 400px) {
  .About {
    font-size: 14px;
  }
}

.Text {
  width: 16em;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
}

.PhotoContainer {
  width: calc(300px);
  height: calc(300px);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.Photo {
  object-fit: cover;
  border-radius: 50%;
  anchor-name: --anchor;
  box-shadow: var(--box-shadow);
  width: calc(100% - 25px);
  height: calc(100% - 25px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.PhotoFrame {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--frame-accent);
  -webkit-mask-image: radial-gradient(circle, transparent 69%, black 42%);
  mask-image: radial-gradient(circle, transparent 69%, black 42%);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  z-index: 3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Profession {
  color: var(--header-color);
  font-family: var(--ff-accent);
  font-size: clamp(calc(0.2vw + 1rem), 3.8vw, 1.3em);
  text-align: right;
  margin-bottom: 0.5em;
  font-weight: 400;
  transition: all 0.3s ease;
}

@media screen and (max-width: 480px) {
  .About {
    margin-top: 0;
    display: grid;
    justify-content: center;
    justify-items: center;
  }

  .Text {
    width: 10em;
  }

  .Text,
  .Profession {
    margin-left: 0;
  }
}

.Stack {
  font-size: clamp(1rem, 1.7vw, 1.1rem);
  text-align: right;
  margin-bottom: 2em;
}

@media screen and (max-width: 857px) {
  .About {
    margin-top: 1em;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .Text .Stack {
    text-align: center;
  }

  .Text .Profession {
    text-align: center;
  }

  .ButtonContainer {
    display: grid;
    gap: 1em;
    justify-content: center;
  }

  .Download {
    margin-right: 0;
  }
}
