.About {
    display: flex;
    justify-content: center;
}

.Photo {
    width: clamp(7.5em, 18vw, 12em);
    height: clamp(7.5em, 18vw, 12em);
    border-radius: 50%;
    box-shadow: 4px 4px 8px 0px var(--button-color);
    -webkit-box-shadow: 4px 4px 8px 0px var(--shadow-color);
    -moz-box-shadow: 4px 4px 8px 0px var(--shadow-color);
    border: 4px var(--plate-color) solid;
    animation: fadePhoto 1.5s ease-in-out forwards;
    -webkit-animation: fadePhoto 1.5s ease-in-out forwards;
    -moz-animation: fadePhoto 1.5s ease-in-out forwards;
    -o-animation: fadePhoto 1.5s ease-in-out forwards;
    transition: all 0.2s ease-in-out;
}

@keyframes fadePhoto {
    from {
        opacity: 0;
        transform: translateY(-5%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.Text {
    align-self: center;
    margin-left: clamp(1.4em, 1.2vw, 2.5em);
}


.Profession {
    color: var(--header-color);
    font-family: var(--ff-accent);
    font-size: clamp(calc(0.3vw + 1.1em), 3.1vw, 2.1em);
    text-align: right;
    margin-bottom: 0.4em;
    font-weight: 400;
    transform: translateY(-25%);
    opacity: 0;
    animation: fadeProfession 2s ease-in 0.7s forwards;
    -webkit-animation: fadeProfession 2s ease-in 0.7s forwards;
    -moz-animation: fadeProfession 2s ease-in 0.7s forwards;
    -o-animation: fadeProfession 2s ease-in 0.7s forwards;
}

@keyframes fadeProfession {
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 480px) {
    .Text, .Profession {
        margin-left: 0;
        margin-inline: 1em;
    }

    .Photo {
        margin-top: .9em;
    }

}

.Stack {
    font-size: clamp(0.8em, .8vw, 1.4em);
    text-align: right;
    margin-bottom: 1.8em;
    letter-spacing: .19rem;
    opacity: 0;
    animation: fadeStack 1.5s ease-in-out 1.8s forwards;
    -webkit-animation: fadeStack 1.5s ease-in-out 1.8s forwards;
    -moz-animation: fadeStack 1.5s ease-in-out 1.8s forwards;
    -o-animation: fadeStack 1.5s ease-in-out 1.8s forwards;
}

@keyframes fadeStack {
    100% {
        opacity: 1;
    }
}


@media screen and (max-device-width: 857px) {
    .About {
        flex-wrap: wrap;
    }

    .Photo {
        margin-bottom: 2em;
    }

    .Text .Stack {
        text-align: center;
    }

    .Text .Profession {
        text-align: center;
    }

    .ButtonContainer {
        display: grid;
        gap: 1em;
        justify-content: center;
    }

    .Download {
        margin-right: 0;
    }
}