.About {
  display: flex;
  justify-content: center;
  margin-top: 2em;

}
@media screen and (max-width: 400px) {
  .About {
    font-size: 14px;
  }
}

.Text {
  width: 16em;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
}

.Photo {
  width: 12em;
  height: 12em;
  object-fit: cover;
  border-radius: 50%;
  anchor-name: --anchor;
  z-index: 3;
  box-shadow: var(--box-shadow);
}
.Desaturated {
  filter: saturate(0.75) !important;
}
.PhotoFrame {
  width: 12.6em;
  height: 12.6em;
  border-radius: 50%;
  position: absolute;
  position-anchor: --anchor;
  position-area: center center;
  background-color: var(--frame-accent);
  z-index: 1;
  -webkit-mask-image: radial-gradient(circle, transparent 69%, black 42%);
  mask-image: radial-gradient(circle, transparent 69%, black 42%);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  z-index: 3;
}
.Profession {
  color: var(--header-color);
  font-family: var(--ff-accent);
  font-size: clamp(calc(0.2vw + 1rem), 3.2vw, 1.3rem);
  text-align: right;
  margin-bottom: 0.5em;
  font-weight: 400;
}


@media screen and (max-width: 480px) {
  .About {
    margin-top: 0;
    display: grid;
    justify-content: center;
    justify-items: center;
  }

  .Text {
    width: 10em;
  }

  .Text,
  .Profession {
    margin-left: 0;
  }
}

.Stack {
  font-size: clamp(0.6rem, 0.4vw, 1.2rem);
  text-align: right;
  margin-bottom: 2em;
  letter-spacing: 0.19rem;
}

@media screen and (max-width: 857px) {
  .About {
    margin-top: 1em;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .Text .Stack {
    text-align: center;
  }

  .Text .Profession {
    text-align: center;
  }

  .ButtonContainer {
    display: grid;
    gap: 1em;
    justify-content: center;
  }

  .Download {
    margin-right: 0;
  }
}
