.About {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.Text {
  width: 16em;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
}

.Photo {
    width: 8em;
    height: 8em;
    object-fit: cover;
    border-radius: 50%;
    anchor-name: --anchor;
    z-index: 3;

}

.PhotoFrame {
    width: 8.6em;
    height: 8.6em;
    border-radius: 50%;
    position: absolute;
    position-anchor: --anchor;
    position-area: center center;
    background-color: var(--frame-accent);
    z-index: 1;
    -webkit-mask-image: radial-gradient(circle, transparent 69%, black 42%);
    mask-image: radial-gradient(circle, transparent 69%, black 42%);
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.Profession {
  color: var(--header-color);
  font-family: var(--ff-accent);
  font-size: clamp(calc(0.2vw + 0.8em), 3.2vw, 1.3em);
  text-align: right;
  margin-bottom: 0.5em;
  font-weight: 400;
}

/* @keyframes fadeProfession {
  100% {
    opacity: 1;
    transform: translateY(0);
  }
} */

@media screen and (max-width: 480px) {
  .About {
    margin-top: 0;
    display: grid;
    justify-content: center;
    justify-items: center;
  }

  .Text {
    width: 10em;
  }

  .Text,
  .Profession {
    margin-left: 0;
  }
}

.Stack {
  font-size: clamp(0.6em, 0.4vw, 1.2em);
  text-align: right;
  margin-bottom: 2em;
  letter-spacing: 0.19rem;
}


@media screen and (max-width: 857px) {
  .About {
    margin-top: 1em;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .Text .Stack {
    text-align: center;
  }

  .Text .Profession {
    text-align: center;
  }

  .ButtonContainer {
    display: grid;
    gap: 1em;
    justify-content: center;
  }

  .Download {
    margin-right: 0;
  }
}