.Tooltip {
  min-width: 13em;
  padding: 0.8em;
  position: fixed;
  bottom: 2%;
  left: 2%;
  display: grid;
  grid-template-columns: 1.6em 1fr;
  text-align: left;
  background-color: rgb(81, 81, 81);
  z-index: 10;
  color: white;
  border-radius: 10px;
  font-size: 24px;
}

.Text {
  font-size: 20px;
}

@media screen and (max-width: 800px) {
  .Tooltip {
    font-size: 18px;
  }
  .Text {
    font-size: 14px;
  }
}
