.Testimonial {
    width: min(14em, 90%);
    aspect-ratio: 378 / 487;
    background: var(--testimonial-gradient);
    padding: min(1.1em, 5vw) clamp(1em, 4vw, 2.4em) 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    border: var(--testimonial-border); 
    box-shadow: 1px 1px 2px 0px var(--shadow-color); 
    margin-inline: auto;
    position: relative;
}

.Photo {
    display: flex;
    justify-content: center;
    width: min(2.6em, 14vw);
    height: min(2.6em, 14vw);
    border-radius: 100%;
    margin-bottom: 1em;
}

.CoworkerName {  
    font-family: var(--ff-accent);
    font-weight: 600;
    font-size: clamp(.5em, 2.1vw, 0.6em);
    margin-bottom: 0.35em;
}

.CoworkerPosition {
    font-family: var(--ff-primary);    
    font-size: clamp(0.4em, 2vw, 0.5em);
    letter-spacing: .3rem;
    margin-bottom: 1.5em;
    text-align: center;
}

.Line {
    height: 1px;
    width: 3em;
    color: var(--header-color); 
    background-color: rgb(128, 124, 191, 0.7);
    margin-bottom: 1em;
}

.Review {
    margin-bottom: 1.4em;
    font-family: var(--ff-primary);
    font-size: clamp(0.4em, 1.7vw, 0.5em);
}
.IconsSocial {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 0.3em;
    position: absolute;
    bottom: 3%;
}