
.Container {
    padding: 1.1em 5%; 
    width: clamp(300px, 90%, 40.5rem); 
    margin-inline: auto; 
    border-radius: 0 0 8px 8px;
    -webkit-box-shadow: 4px 4px 8px 0px var(--shadow-color);
    -moz-box-shadow: 4px 4px 8px 0px var(--shadow-color);
    box-shadow: 4px 4px 8px 0px var(--shadow-color);
    background-color: var(--plate-color);
    margin-bottom: 2em;
    border: 4px var(--border-color) solid;
    transition: background-color .3s ease-in-out;
}

@media screen and (max-device-width: 480px) {
    .Container {
        width: 100%;
        padding: 1em .5em; 
        box-shadow: none;
        border: 4px var(--plate-color) solid;
    }
}
