.Wave {
  background: url("/img/wave3.png") bottom no-repeat;
  background-size: 100%;
  z-index: 2;
  overflow: hidden;
}

@media screen and (max-width: 480px) {
  .Container {
    width: 100%;
    padding: 1em 0.5em;
    box-shadow: none;
  }
}

.Cloud1 {
  position: absolute;
  top: -0.4%;
  right: 69%;
  scale: -0.65 0.65;
  opacity: 0.5;
  transform: rotate(8deg);
  pointer-events: none;
}

.Cloud2 {
  position: absolute;
  top: 4%;
  left: 66%;
  scale: 0.7;
  transform: rotate(7deg);
  opacity: 0.5;
  z-index: 0;
  pointer-events: none;
}