*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --ff-primary: Quicksand, NanumMyeongjo, sans-serif;
  --ff-accent: Comfortaa, Nunito, cursive;
  --box-shadow: 0.7px 0.8px 2.2px rgba(0, 0, 0, 0.02),
  1.8px 2px 5.3px rgba(0, 0, 0, 0.028),
  3.4px 3.8px 10px rgba(0, 0, 0, 0.035),
  6px 6.7px 17.9px rgba(0, 0, 0, 0.042),
  11.3px 12.5px 33.4px rgba(0, 0, 0, 0.05),
  27px 30px 80px rgba(0, 0, 0, 0.07);
  transition: background-color .2s ease-out; 
}

[data-theme='light'] {
  --text-color: #262526;
  --text-secondary: #73594B;
  --selected-text-background: #525073;
  --background-color: #f8f8f8;
  --plate-color: transparent;
  --header-color: #807CBF;
  --hover-accent: #c3b1ff;
  --button-color: #C2DEBD;
  --show-details-background-color: rgb(100%, 100%, 100%, 0.07);
  --show-details-color: var(--progress-accent);
  --border-color: transparent;
  --progress-accent: #DFFFD9;
  --timeline-detail: #e0e0e0;
  --testimonial-border: thin var(--header-color) solid;
  --testimonial-gradient: linear-gradient(180deg, var(--plate-color) 0%, #e7e6eb 50%);
  --controls-color: #D9D9D9;
}

[data-theme='dark'] {
  --text-color: #D9D9D9;
  --text-secondary: #EDD9CE;
  --selected-text-background: #c3b1ff;
  --background-color: #1D1D1D;
  --show-details-background-color: rgb(100%, 100%, 100%, 0.07);
  --show-details-color: var(--background-color);
  --plate-color: transparent;  
  --header-color: #cdc3f1;
  --hover-accent: #807CBF;
  --button-color: #A7BFA3;
  --border-color: var(--plate-color);
  --progress-accent: #c7e7c1;
  --timeline-detail: #9494941c;
  --testimonial-gradient: linear-gradient(180deg, #2D2D2D 0%, #49445a 50%);
  --testimonial-border: thin transparent solid;
  --controls-color: #2D2D2D;
}

html,
body {
  font-family: var(--ff-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.315rem;
  line-height: 1.2;
  height: 100%;
}

#root_ {
  width: 100%;
  height: 100%;
  background-color: var(--background-color); 
  color: var(--text-color);
}

.icon {
  margin-left: 0.35em;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

section {
  margin-bottom: 8em;
}

section:last-child {
  margin-bottom: 4em;
}

::selection {
  background-color: var(--selected-text-background);
  color: var(--background-color);
}
