*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-display: optional;
  --ff-primary: Quicksand, NanumMyeongjo, sans-serif;
  --ff-accent: Comfortaa, Nunito, cursive;
  --box-shadow: 0.7px 0.8px 2.2px rgba(0, 0, 0, 0.02),
    1.8px 2px 5.3px rgba(0, 0, 0, 0.028), 3.4px 3.8px 10px rgba(0, 0, 0, 0.035),
    6px 6.7px 17.9px rgba(0, 0, 0, 0.042),
    11.3px 12.5px 33.4px rgba(0, 0, 0, 0.05), 27px 30px 80px rgba(0, 0, 0, 0.07);
  transition: background-color 0.2s ease-out;
  font-family: var(--ff-primary);
}

[data-theme="light"] {
  --text-color: #403036;
  --text-secondary: #73594b;
  --selected-text-background: #525073;
  --plate-color: #dddbfc;
  --background-color: #f8f8f8;
  --header-color: #5d59d9;
  --hover-accent: #bde2f5;
  --button-color: #66ccff;
  --show-details-background-color: #f2055c;
  --show-background-color: #5d59d9;
  --show-details-color: var(--progress-accent);
  --border-color: transparent;
  --progress-main: hsla(212, 93%, 49%, 1);
  --progress-accent: hsla(210, 90%, 80%, 1);
  --timeline-detail: #e0e0e0;
  --testimonial-border: thin var(--header-color) solid;
  --testimonial-gradient: linear-gradient(
    180deg,
    var(--plate-color) 0%,
    #e7e6eb 50%
  );
  --controls-color: #d9d9d9;
  --frame-accent: white;
}

[data-theme="dark"] {
  --text-color: #d9d9d9;
  --text-secondary: #edd9ce;
  --selected-text-background: #c3b1ff;
  --background-color: #1d1d1d;
  --show-details-background-color: #f2055c;
  --show-background-color: #807cbf;
  --show-details-color: var(--background-color);
  --header-color: #73FFD7;
  --hover-accent: #807cbf;
  --button-color: #f2055c;
  --border-color: var(--plate-color);
  --progress-main: hsla(212, 93%, 49%, 1);
  --progress-accent: rgb(133, 169, 204);
  --timeline-detail: #9494941c;
  --testimonial-gradient: linear-gradient(180deg, #2d2d2d 0%, #49445a 50%);
  --testimonial-border: thin transparent solid;
  --controls-color: #2d2d2d;
  --frame-accent: #9494941c;
}

html,
body {
  font-family: var(--ff-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.315rem;
  line-height: 1.2;
  height: 100%;
}

#root_ {
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  color: var(--text-color);
  overflow: hidden;
  position: relative;
  color: --text-color;
}

ul,
li {
  list-style: none;
  padding-left: 0;
  list-style-position: inside;
}

.icon {
  margin-left: 0.35em;
}

a {
  text-decoration: none;
  color: var(--text-color);
  cursor: pointer;
}

section {
  margin-bottom: 4em;
}
section:last-child {
  margin-bottom: 8em;
}

@media screen and (min-width: 1800px) {
  section:last-child {
    margin-bottom: 12em;
  }
}

::selection {
  background-color: var(--selected-text-background);
  color: var(--background-color);
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: inherit;
}
