@font-face {
  font-family: "DigitalGeometricBold";
  src: url("fonts/DigitalGeometricBold-51Pev.ttf");
  font-display: swap;
}

@font-face {
  font-family: "DigitalGeometricBold";
  src: url("fonts/DigitalgeometricBold-z8gPL.otf");
  font-display: swap;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-display: optional;
  -webkit-tap-highlight-color: transparent;
  --ff-primary: Quicksand, Comfortaa, NanumMyeongjo, sans-serif;
  --ff-accent: DigitalGeometricBold, Comfortaa, Nunito, serif;
  --box-shadow:
    0.7px 0.8px 2.2px rgba(0, 0, 0, 0.02), 1.8px 2px 5.3px rgba(0, 0, 0, 0.028),
    3.4px 3.8px 10px rgba(0, 0, 0, 0.035),
    6px 6.7px 17.9px rgba(0, 0, 0, 0.042),
    11.3px 12.5px 33.4px rgba(0, 0, 0, 0.05), 27px 30px 80px rgba(0, 0, 0, 0.07);
  transition: background-color 0.2s ease-out;
  font-family: var(--ff-primary);
  --container-width: clamp(300px, 90%, 45.5rem);
  --progress-br: 15px;
}

[data-theme="light"] {
  --text-color: #403036;
  --text-secondary: #73594b;
  --selected-text-background: #525073;
  --plate-color: #ffffff;
  --background-color: #f8f8f8;
  --header-color: #6f2dbd;
  --progress-accent: #a663cc;
  --hover-accent: #bde2f5;
  --cv-button: #f2055c;
  --border-color: transparent;
  --light-accent: #b9faf8;
  --midtone: #b298dc;
  --timeline-detail: #e0e0e0;
  --testimonial-border: thin var(--header-color) solid;
  --testimonial-gradient: linear-gradient(180deg, #dddbfc 0%, #e7e6eb 50%);
  --controls-color: #d9d9d9;
  --frame-accent: white;
  --tooltip-color: black;
  --tooltip-background: white;
  --testimonial-frame-border: var(--header-color);
  --tooltip-background-achievement: rgb(81, 81, 81);
}

[data-theme="dark"] {
  --text-color: #d9d9d9;
  --plate-color: #2e2e2e;
  --text-secondary: #edd9ce;
  --selected-text-background: #c3b1ff;
  --background-color: #1d1d1d;
  --header-color: #c4aaef;
  --progress-accent: #a663cc;
  --hover-accent: #807cbf;
  --cv-button: #f2055c;
  --border-color: var(--plate-color);
  --light-accent: #789795;
  --midtone: #958aa7;
  --timeline-detail: #9494941c;
  --testimonial-gradient: linear-gradient(180deg, #2d2d2d 0%, #49445a 50%);
  --testimonial-border: thin transparent solid;
  --controls-color: #2d2d2d;
  --frame-accent: #fff6f68c;
  --tooltip-color: black;
  --tooltip-background: white;
  --testimonial-frame-border: var(--frame-accent);
  --tooltip-background-achievement: rgb(81, 81, 81);
}

html,
body {
  font-family: var(--ff-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.315rem;
  line-height: 1.2;
  height: 100%;
}

#root_ {
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  color: var(--text-color);
  overflow: hidden;
  position: relative;
  color: --text-color;
}

ul,
li {
  list-style: none;
  padding-left: 0;
  list-style-position: inside;
}

.icon {
  margin-left: 0.35em;
}

a {
  text-decoration: none;
  color: var(--text-color);
  cursor: pointer;
}

section {
  margin-bottom: 4em;
}
section {
  width: var(--container-width);
}
section[data-wide="true"] {
  width: 95vw;
}
section[data-screen-width="true"] {
  width: 100vw;
}

section:last-child {
  margin-bottom: 8em;
}

@media screen and (min-width: 1800px) {
  section:last-child {
    margin-bottom: 12em;
  }
}

::selection {
  background-color: var(--selected-text-background);
  color: var(--background-color);
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: inherit;
  -webkit-tap-highlight-color: transparent;
  color: var(--text-color);
}

svg {
  color: var(--text-color);
}
