.HashLinks {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 0;
  width: 100%;
  height: max-content;
  text-align: center;
}

.li {
  transition: all 0.3s ease;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.1rem;
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: fit-content;
  /* margin-inline: auto; */
  height: calc(16px + 12px);
  /* padding-bottom: 15px; */
}
.li:not(:nth-last-child(2)) {
  margin-top: 15px;
}

.li:nth-last-child(2) {
  padding: 15px 10px;
  background-color: var(--cv-button);
  box-shadow: var(--box-shadow);
  border-radius: 0 0 10px 10px;
  height: fit-content;
}
.ContactMe {
  color: white;
}
span {
  /* padding-inline: 10px; */
  display: inline-block;
  transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
}

.HashLink:after,
.HashLink:before {
  content: "";
  position: absolute;
  width: 100%;
  /* top: 30px; */
  left: 0;
  color: var(--header-color);
  transform: translate3d(100%, 0, 0);
}

.HashLink:before {
  padding: 15px;
  top: 25px;
  height: 2px;
  transform: scaleX(0);
  transform-origin: 0% 50%;
  transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
}

.HashLink:active {
  font-weight: bold;
}

.HashLink:hover:before {
  width: 100%;
  left: 0;
  background-color: var(--header-color);
  transform: scaleX(1);
  transform-origin: 0% 50%;
  transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
}

.HashLink:hover:after {
  content: attr(data-replace);
  font-weight: bold;
  transform: translate3d(0, 0, 0);
  top: 0;
  transform-origin: 100% 50%;
  transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
}

.HashLink:hover span {
  transform: translate3d(-100%, 0, 0);
}

@media screen and (max-width: 857px) {
  .ToggleButton {
    position: absolute;
    top: 0.7em;
    right: 1.1em;
  }

  .HashLinks {
    height: 80%;
    flex-direction: column;
  }

  .HidingLinks {
    opacity: 0;
    transition: all 0.2s ease-in;
  }

  .li {
    display: flex;
    justify-content: center;
    margin-inline: auto;
  }
  .li:nth-last-child(2) {
    background-color: var(--cv-button);
    border-radius: 10px;
  }
}
