.ReactFlow {
  width: 100%;
  height: 400px;
  color: black;
}

:global(.react-flow__node) {
  font-size: 20px;
}

.Node {
  background: linear-gradient(
    41deg,
    var(--header-color) 0%,
    var(--progress-accent) 50%
  );
  border-radius: 20px;
  width: fit-content;
  padding: 0.5em;
  color: white;
  cursor: pointer;
  font-size: 16px;
  box-shadow: var(--box-shadow);
}

.Content {
  position: relative;
  border-left: 2px solid rgb(143, 220, 230);
}

li li .Node {
  background: linear-gradient(
    41deg,
    rgb(87 85 111) 60%,
    rgb(97, 192, 204) 100%
  );
}
li li li .Node {
  background: linear-gradient(31deg, #5c3f7c 30%, #742cca 100%);
}

summary::marker {
  content: "◌ ";
}
details[open] > summary::marker {
  content: "● ";
}

details::details-content {
  opacity: 0;
  filter: blur(2px);
  transform: translateY(0);
  transition: all 600ms, content-visibility 250ms allow-discrete;
}

details[open]::details-content {
  opacity: 1;
  filter: blur(0);
  transform: translateY(12px);
}

summary:not(:has(+ .Content))::marker {
  content: " " !important;
}
