.Stack {
    list-style: none;
    display: grid;
    flex-direction: column;
    justify-content: center;
    gap: 0.8em;
}

ul {
    margin: 0;
    padding: 0;
}

.HTML {
    width: 85%;
}

.CSS {
    width: 70%;
}

.React {
    width: 90%;
}

.Js {
    width: 60%;
}

.Typescript {
    width: 85%;
}